<!-- Price Page Section - Parallax
				============================================= -->
<div id="price" class="section page-section parallax pb-0 mb-0 dark"
  style="background-image: url('demos/barber/images/sections/3.jpg'); background-size: cover; height: 600px"
  data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;"></div>

<div class="container bottommargin dark clearfix" style="margin-top: -500px">
  <div class="heading-block bottommargin-lg center clearfix">
    <img src="demos/barber/images/icons/wallet-white.svg" alt="Image" height="40" style="margin-bottom: 20px">
    <h2>Pricing</h2>
  </div>

  <!-- Price Items
					============================================= -->
  <div class="row dark col-padding clearfix" style="background-color: #121212">
    <div class="col-lg-6 price-wrap">
      <div class="price-header">
        <div class="price-name">
          <a href="#" class="color">Haircut</a>
        </div>
        <div class="price-dots">
          <span class="separator-dots"></span>
        </div>
        <div class="price-price">$39</div>
      </div>
      <p class="price-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum officia eaque
        nobis ut.</p>
    </div>

    <div class="col-lg-6 price-wrap">
      <div class="price-header">
        <div class="price-name">
          <a href="#" class="color">HairWash</a>
        </div>
        <div class="price-dots">
          <span class="separator-dots"></span>
        </div>
        <div class="price-price">$42</div>
      </div>
      <p class="price-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum officia eaque
        nobis ut.</p>
    </div>

    <div class="w-100 clear"></div>

    <div class="col-lg-6 price-wrap">
      <div class="price-header">
        <div class="price-name">
          <a href="#" class="color">Shave</a>
        </div>
        <div class="price-dots">
          <span class="separator-dots"></span>
        </div>
        <div class="price-price">$29</div>
      </div>
      <p class="price-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum officia eaque
        nobis ut.</p>
    </div>

    <div class="col-lg-6 price-wrap">
      <div class="price-header">
        <div class="price-name">
          <a href="#" class="color">Hair Colour</a>
        </div>
        <div class="price-dots">
          <span class="separator-dots"></span>
        </div>
        <div class="price-price">$17</div>
      </div>
      <p class="price-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum officia eaque
        nobis ut.</p>
    </div>

    <div class="w-100 clear"></div>

    <div class="col-lg-6 price-wrap">
      <div class="price-header">
        <div class="price-name">
          <a href="#" class="color">Moustache</a>
        </div>
        <div class="price-dots">
          <span class="separator-dots"></span>
        </div>
        <div class="price-price">$39</div>
      </div>
      <p class="price-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum officia eaque
        nobis ut.</p>
    </div>

    <div class="col-lg-6 price-wrap">
      <div class="price-header">
        <div class="price-name">
          <a href="#" class="color">Beard Trim</a>
        </div>
        <div class="price-dots">
          <span class="separator-dots"></span>
        </div>
        <div class="price-price">$42</div>
      </div>
      <p class="price-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum officia eaque
        nobis ut.</p>
    </div>

    <div class="w-100 clear"></div>

    <div class="col-lg-6 price-wrap">
      <div class="price-header">
        <div class="price-name">
          <a href="#" class="color">Facial</a>
        </div>
        <div class="price-dots">
          <span class="separator-dots"></span>
        </div>
        <div class="price-price">$29</div>
      </div>
      <p class="price-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum officia eaque
        nobis ut.</p>
    </div>

    <div class="col-lg-6 price-wrap">
      <div class="price-header">
        <div class="price-name">
          <a href="#" class="color">Head Massage</a>
        </div>
        <div class="price-dots">
          <span class="separator-dots"></span>
        </div>
        <div class="price-price">$17</div>
      </div>
      <p class="price-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum officia eaque
        nobis ut.</p>
    </div>

    <div class="col-12 center">
      <a href="#" class="button button-large button-color d-none d-lg-block "><i class="icon-calendar2"></i> Make An
        Appointment</a>
    </div>
  </div>

</div>