{% load static %}

				<!-- Testimonial Page Section
				============================================= -->
				<div id="testimonial" class="mb-0 section page-section parallax pb-0 dark clearfix" style="background-image: url('../../static/images/services/event.webp'); background-size: cover;" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;">
					<div class="container clearfix">

						<div class="heading-block center">
							<img src="{% static 'images/stars.svg' %}" alt="Testimonial Star" height="50" style="margin-bottom: 20px">
							<h3 class="ls2">Testimonials</h3>
						</div>

						<!-- Testimonial Slider
						============================================= -->
						<div class="fslider testimonial testimonial-full bg-transparent border-0 shadow-none p-0 bottommargin-sm mx-auto center clearfix" data-arrows="false" style="max-width: 700px">
							<div class="flexslider">
								<div class="slider-wrap">
									<div class="slide">
										<div class="testi-content">
											<p>Collaboratively enhance intermandated innovation via cutting-edge core competencies. Professionally extend covalent e-markets and mission-critical communities. Dramatically communicate revolutionary web services for interactive synergy. Synergistically.</p>
											<div class="testi-meta">
												Steve Jobs
												<span class="ls0">Apple Inc.</span>
											</div>
										</div>
									</div>
									<div class="slide">
										<div class="testi-content">
											<p>Intrinsicly synergize excellent content whereas user friendly action items. Rapidiously transition multimedia based information after top-line alignments. Proactively e-enable front-end e-commerce without mission-critical customer service.</p>
											<div class="testi-meta">
												Collis Ta'eed
												<span class="ls0">Envato Inc.</span>
											</div>
										</div>
									</div>
									<div class="slide">
										<div class="testi-content">
											<p>Compellingly engage multimedia based niche markets via value-added manufactured products. Competently formulate goal-oriented content for installed base users. Uniquely leverage other's granular ROI without 24/365 collaboration and idea-sharing.</p>
											<div class="testi-meta">
												John Doe
												<span class="ls0">XYZ Inc.</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
						<div class="video-overlay" style="background: rgba(0,0,0,0.7);"></div>
					</div>

				</div>
